[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"

[packages]
pyside2 = "*"
requests = {extras = ["socks"],version = "*"}
pypiwin32 = "*"
pyinstaller = "*"

[requires]
python_version = "3"
